* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f3f3f3;
}

body {
    font-family: poppins;
    font-weight: 600;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 10px;
    background-attachment: fixed;
}


/* 
.land {
    width: 45vw;
    height: 800px;
    overflow-x: hidden;
} */

.pizz-img img {
    object-fit: contain;
    width: 45vw;
}

.desc-land {}

.icon,
.img-icon {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(243, 215, 57, 0.315);
    border-radius: 5px 17px 1px 24px;
    height: 70px;
    padding: 5px;
}

.piz-name {
    padding: 5px;
    border: 5px solid rgba(209, 181, 19, 0.623);
    border-radius: 0% 100% 0% 100%;
}

.img-icon img,
.check-out img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.hr-sp {
    padding: 0;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.h-info h4 {
    text-transform: uppercase;
    color: #cacaca;
    font-size: medium;
    margin-left: 15px;
}

.description {
    margin-left: 20px;
    font-family: 'Courier New', Courier;
    font-weight: 400;
    line-height: 1.8;
    word-spacing: 2;
}

.p-size {
    margin-top: 20px;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.p-size::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.p-size:hover::before {
    width: 9em;
}

.p-size:focus {
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
}

.card {
    height: 150px;
    background-color: #f3f3f3 !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.h-top {
    padding-top: 10px;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 14px
}